form{
    border-style:solid;
    border: width 2px;
    border-color:black;
    border-radius:40px ;
    border-bottom-style:duble;

    background-color: lightgray;
    
    padding-top:10px;
    padding-bottom:10px;
    padding-left:100px;
    padding-right:100px;

    margin-top:200px;
    margin-bottom:200px;
    margin-left:300px;
    margin-right:300px;
    }